# Python
__pycache__/
*.py[cod]
*.pyo

# PyTorch / model artifacts
*.pt
*.pth
*.ckpt

# Datasets / binaries
*.bin
*.tmp
*.memmap

# Logs
*.log

# Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Virtual environments
venv/
.env/

# Test cache
.pytest_cache/
